@font-face {
    font-family: 'bellota';
    src: url('fonts/bellota_regular_macroman/Bellota-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bellota';
    src: url('fonts/bellota_italic_macroman/Bellota-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'bellota';
    src: url('fonts/bellota_bold_macroman/Bellota-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'bellota', sans-serif;
    overflow-x: hidden;
    color: #666666;
}

header {
    width: 100%;
    height: 3.2em;
    display: flex;
    justify-content: center;
}

header div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

header div:first-child > .logo {
    padding: 0rem 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

header div:first-child > nav {
    padding: 0rem 2rem;
    width: 53em;
    text-align: end;
}

header div:first-child > nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

header div:first-child > nav > ul > li > a {
    text-decoration: none;
    color: #666666;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.2rem 0.2rem 0.3rem 0.3rem;
}

header div:first-child > nav > ul > li > a:hover {
    background: #bebebe;
    border-radius: 5%;
}

header div:first-child > .menu {
    padding: 0rem 2rem;
    height: 35px;
    display: none;
}

header div:first-child > .menu > img {
    width: 35px;
    cursor: pointer;
    filter: invert(100%) grayscale(20%) brightness(0%);
    transition: filter 0.5s ease;
}

section {
    padding: 0rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.about-me {
    display: flex;
    justify-content: space-between;
    /*justify-content: flex-start;*/
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*padding: 2em 5em;*/
}

.about-me .about-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-content-box {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    /*padding: 2em 2em;*/
}

.about-content-box div:first-child img {
    width: 250px;
    border-radius: 35%;
    cursor: pointer;
}

.about-content-box div:last-child.icon-conctact {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.about-content-box div:last-child.icon-conctact > a {
    padding: 0.1rem 0.3rem;
    border-radius: 35%;
    transition: background 0.9s ease;
}

.about-content-box div:last-child.icon-conctact > a:hover {
    background: #bebebe;
}

.about-content-box div:last-child.icon-conctact > a > img {
    height: 30px;
    width: 30px;
    transition: height 0.9s ease;
}

.right-box {
    text-align: start;
    font-size: 1.3rem;
}

.about-skill {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.about-skill > div > img {
    width: 38px;
}




@media screen and (max-width: 769px) {
    .about-content-box {
        flex-direction: column;
        gap: 0;
    }

    header div:first-child > .menu {
        display: block;
    }

    header div:first-child > nav {
        display: none;
    }

    .about-skill {
        flex-direction: column;
    }

    .right-box {
        text-align: center;
    }

}
