*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    color: #232323;
    background: #fff;
}

.header {
    display: flex;
    flex-direction: column;
} 

.header .header-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #fff;
}



.content-menu {
    width: 100%;
    background-color: #fff;
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 92;
    left: 0;
}

.menu-active {
    display: flex;
}

.content-menu a {
    font-size: 1.4rem;
    text-decoration: none;
    padding: 5px 0px;
}

.logo{
    font-size: 1.6rem;
    color: #232323;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.logo a,
.logo a:hover,
.logo a:active {
    text-decoration: none;
    color: #232323;
}

.navbar a {
    display: inline-block;
    font-size: 1.2rem;
    color: #232323;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #7c4dff;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.home-contemt{
    max-width: 630px;
}

.home-contemt h1{
    font-size: 2rem;
    line-height: 1.2;
    opacity: 0;
    animation: slideBottom .8s ease forwards;
    animation-delay: 1s;
}

.home-contemt h2{
    color: #7c4dff;
    font-size: 1.6rem;
    line-height: 1;
    opacity: 0;
    animation: slideRight .8s ease forwards;
    animation-delay: 1.3s;
}

.home-contemt h1 span {
    color: #7c4dff;
}

.home-contemt p {
    font-size: 1.2rem;
    margin: 20px 0 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.6s;
}

.contact-link {
    list-style: none;
    display: flex;
    gap: 20px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    animation-delay: 1.8s;
}

.contact-link li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  
}

.contact-link i {
    color: #232323;
    font-size: 2rem;
}

.contact-link i:hover {
    color: #7c4dff;
}

.tech-stack {
    margin-top: 40px;
    min-height: 30px;
}

.tech-stack h2 {
    font-size: 1.3rem;
    color: #232323;
}

.tech-stack .stack-icon img {
    height: 35px;
    width: 35px;
    animation: slideTop .5s ease forwards;
    opacity: 0;
    animation-delay: 2s;
    /* animation-iteration-count: infinite; */
}

.home-img{
    position: relative;
    right: -7%;
    width: 450px;
    height: 450px;
    transform: rotate(55deg);
}

.home-img .rhombus{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 25px solid #7c4dff;
    opacity: 0;
    animation: zoomOut .8s ease forwards;
    animation-delay: 1.5s;
}

.home-img .rhombus img{
    position: absolute;
    top: -11px;
    left: -45px;
    max-width: 437px;
    transform: rotate(-55deg);
    
}


.about{
    background: #eee;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.about .about-contemt  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.about .about-contemt img {
    max-width: 400px;
    width: 40%;

}
.about .about-contemt .about-text {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.about .about-contemt  h1 {
    color: #7c4dff;
    font-size: 2rem;
    line-height: 1.2;
}

.about .about-contemt h2 {
    font-size: 1.3rem;
    color: #232323;
}

.about .about-contemt p {
    font-size: 1.2rem;
}

 /* project section */
.project{
    background: #fff;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
    flex-direction: column;
}

.project h1 {
    color: #7c4dff;
    font-size: 2rem;
    margin-bottom: 30px;
}

.project .project-contemt  {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.project .project-contemt .item {
    border: 1px solid #eee;
    height: 300px;
    opacity: 0.9;
    
}  

.project .project-contemt .item div {
    display: flex;
    text-align: right;
    justify-content: end;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    gap: 10px;
    padding: 10px 10px;
    background-size: cover;
    background-position: center;
}

.project .project-contemt .item div a {
    height: 30px;
    background-color: #7c4dff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    text-decoration: none;
    padding-bottom: 25px;
    border-radius: 5px;
    font-weight: 600;
}

.project .project-contemt .item div a:hover {
    background-color: #fff;
    color: #7c4dff;
}

.project .project-contemt .dpp {
    background: url('V1/img/Portafolio/c24h.png') no-repeat;
}

.project .project-contemt .c24h {
    background: url('V1/img/Portafolio/c24h.png') no-repeat;
}

.project .project-contemt .ifp {
    background: url('V1/img/Portafolio/if.png') no-repeat;
}


.bar-icon {
    display: none;
    font-size: 1.8rem;
}


/* KEYFRAMES ANIMATION */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }
    
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


@media (max-width: 577px) {

    .home {
        margin-top: 42px;
    }
    
    .home, .about, .project {
        height: auto;
        padding-bottom: 20px;
    }
    
    .project .project-contemt {
        grid-template-columns: 1fr; 
    }

    .navbar {
        display: none;
    }

    .bar-icon {
        display: block;
    }

}


@media (max-width: 800px) { 
    .project .project-contemt .item div {
        flex-direction: column;
    }

    .project .project-contemt .item div a {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 993px) {
   .home-img,  
   .about-contemt img {
        display: none;
   }
}